.page.theme_light {
  --primary-color: #fff1f7;
  --secondary-color: #353430; /* Цвет подчеркивания в состоянии :focus-visible не прозрачный */
  --accent-color: #ff8dcb;

  --background-color: var(--primary-color);
  --background-image: url(../images/cover-image-light.png);

  --decoration-color: var(--secondary-color);
  --rec-decoration-display: none;

  --tagline-color: #ffc2e6;
  --tagline-shadow-color: var(--accent-color);

  --header-title-color: var(--secondary-color);
  --header-title-background-color: var(--accent-color);

  --content-title-color: var(--secondary-color);

  --content-subtitle-color: var(--secondary-color);
  --content-subtitle-background-color: var(--accent-color);

  --content-color: var(--secondary-color);

  --emphesized-content-color: var(--secondary-color);
  --emphesized-content-background-color: var(--accent-color);

  --button-text-color: var(--secondary-color);
  --button-hover-outline-color: rgba(50, 49, 45, 0.4);
  --button-focus-underline-color: var(--secondary-color); /* Цвет подчеркивания в состоянии :focus-visible не прозрачный */
  --button-active-border-color: var(--secondary-color);
}

@media (width >= 1024px) {
  .theme_light .tagline {
    --tagline-shadow-color: #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #fff1f7;
    --secondary-color: #353430;
    --accent-color: #ff8dcb;

    --background-color: var(--primary-color);
    --background-image: url(../images/cover-image-light.png);

    --decoration-color: var(--secondary-color);
    --rec-decoration-display: none;

    --tagline-color: #ffc2e6;
    --tagline-shadow-color: var(--accent-color);

    --header-title-color: var(--secondary-color);
    --header-title-background-color: var(--accent-color);

    --content-title-color: var(--secondary-color);

    --content-subtitle-color: var(--secondary-color);
    --content-subtitle-background-color: var(--accent-color);

    --content-color: var(--secondary-color);

    --emphesized-content-color: var(--secondary-color);
    --emphesized-content-background-color: var(--accent-color);

    --button-text-color: var(--secondary-color);
    --button-hover-outline-color: rgba(50, 49, 45, 0.4);
    --button-focus-underline-color: var(--secondary-color); /* Цвет подчеркивания в состоянии :focus-visible не прозрачный */
    --button-active-border-color: var(--secondary-color);
  }

  @media (width >= 1024px) {
    .tagline {
      --tagline-shadow-color: #ff0070;
    }
  }
}
