/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font, sans-serif);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  block-size: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block-end: 40px;
  position: relative;
}

.decoration {
  position: absolute;
  color: var(--decoration-color);
  inset-inline-end: calc(10px + (25px - 9px) / 2);
  inset-block-start: 10px;
  display: var(--rec-decoration-display);
  gap: 10px;
  align-items: center;
}

.decoration::before {
  content: "rec";
  text-transform: uppercase;
}

.decoration::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--decoration-color);
  box-shadow: 0 0 4px 4px var(--decoration-color);
}

.header__theme-menu {
  align-self: end;
  margin-block-start: 40px;
  margin-block-end: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  inline-size: 70px;
  block-size: 26px;
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--button-text-color);
  text-transform: lowercase;
  line-height: 1;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-outline-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-focus-underline-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-active-border-color);
}

.header__theme-menu-button_active:hover {
  border: 1px solid var(--button-active-border-color);
  cursor: auto;
}

.content-container {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.content-container:not(:last-child) {
  margin-block-end: 50px;
}

.tagline {
  color: var(--tagline-color);
  font-size: var(--tagline-font-size);
  font-weight: var(--tagline-font-weight);
}

.header-tagline {
  text-shadow: 4px 4px 0px var(--tagline-shadow-color);
  line-height: 0.825;
}

.header-title {
  color: var(--header-title-color);
  background-color: var(--header-title-background-color);
  font-size: var(--header-title-font-size);
  font-weight: var(--header-title-font-weight);
  margin-block-start: 55px;
  margin-block-end: 31px;
}

.header-title span {
  display: block;
}

.content-title {
  color: var(--content-title-color);
  background-color: var(--content-title-background-color);
  font-size: var(--content-title-font-size);
  font-weight: var(--content-title-font-weight);
  margin-block-end: 20px;
}

.content-subtitle {
  color: var(--content-subtitle-color);
  background-color: var(--content-subtitle-background-color);
  font-size: var(--content-subtitle-font-size);
  font-weight: var(--content-subtitle-font-weight);
  margin-block-end: 10px;
}

/* .content > .content-container:last-child > .content-subtitle {
  margin-block-start: 50px;
} */

.content-paragraph {
  color: var(--content-color);
  background-color: var(--content-background-color);
  margin-block-end: 20px;
}

.content-paragraph a {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--tagline-shadow-color);
}

.content-paragraph a:hover {
  border-block-end: 1px solid var(--secondary-color);
}

.content-paragraph a:focus {
  outline: none;
}

.content-paragraph a:focus-visible {
  outline: 1px solid var(--secondary-color);
  outline-offset: 0px;
}

.emphesized {
  color: var(--emphesized-content-color);
  background-color: var(--emphesized-content-background-color);
  font-weight: var(--emphesized-content-font-weight);
  margin-block-start: 20px;
  margin-block-end: 10px;
}

img {
  display: block;
  inline-size: 100%;
}

img:not(:last-child) {
  margin-block-end: 10px;
}

.footer {
  block-size: 100vh;
  margin-block-start: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-tagline {
  line-height: 0.957;
  text-shadow: 2px 2px 0px var(--tagline-shadow-color);
  align-self: center;
}

.footer::before,
.footer::after,
.header::before,
.header::after {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
}

.footer::before,
.header::before {
  border-inline-end: 1px solid var(--decoration-color);
  border-block-start: 1px solid var(--decoration-color);
  align-self: flex-end;
}

.footer::after,
.header::after {
  border-inline-start: 1px solid var(--decoration-color);
  border-block-end: 1px solid var(--decoration-color);
  align-self: flex-start;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
    margin-block-end: 60px;
  }

  .decoration {
    inset-inline-end: calc(20px + (25px - 9px) / 2);
    inset-block-start: 20px;
  }

  .tagline {
    margin-inline-start: -20px;
  }

  .header-title {
    inline-size: 50%;
    align-self: flex-end;
  }

  .content-container {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }
  
  .content-container:not(:last-child) {
    margin-block-end: 80px;
  }

  .why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }

  .why .content-title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }

  .why .content-paragraph {
    margin-block-end: 0;
  }

  .content-title span {
    display: block;
  }

  .how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .how .content-title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .how .content-paragraph:last-child {
    margin-block-end: 0;
  }

  .pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, fit-content);
    gap: 20px;
  }

  .pictures .content-subtitle {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    margin-block-end: 0;
  }

  .sunset {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }

  .ice-cream {
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
  }

  .tape {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
  }

  .books {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }

  .street {
    grid-column: 2 / span 2;
    grid-row: 4 / span 1;
  }

  .sunset,
  .ice-cream,
  .tape,
  .books,
  .street {
    object-position: center;
    object-fit: cover;
    inline-size: 100%;
  }

  .footer {
    padding: 20px;
  }
}
