/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
  */

:root {
  --primary-color: #000028;
  --secondary-color: #f1b2ce;
  --accent-color: #ff0070;

  --font: "IBM Plex mono";
  --font-size: 18px;
  --line-height: 1.3;
  --font-weight: 400;

  --background-color: var(--primary-color);
  --background-image: url(../images/cover-image-dark.png);

  --decoration-color: var(--accent-color);
  --decoration-line-height: 138.889%;
  --rec-decoration-display: flex;

  --decorative-color: #db00ff;
  --decorative-shadow-color: var(--accent-color);
  --decorative-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --decorative-font-weight: bold;

  --header-subtitle-color: var(--primary-color);
  --header-subtitle-background-color: var(--accent-color);
  --header-subtitle-font-weight: bold;

  --content-title-color: var(--accent-color);
  --content-title-font-size: inherit;

  --content-subtitle-color: var(--primary-color);
  --content-subtitle-background-color: var(--accent-color);
  --content-subtitle-font-size: inherit;

  --content-color: var(--secondary-color);

  --link-shadow-color: var(--accent-color);

  --list-title-color: var(--primary-color);
  --list-title-font-weight: inherit;
  --list-title-background-color: var(--accent-color);

  --button-text-color: var(--accent-color);
  --button-hover-outline-color: rgba(255, 0, 112, 0.4);
  --button-focus-underline-color: var(--accent-color);
  --button-active-border-color: var(--accent-color);

  --padding-small: 10px;
  --padding-big: 20px;
  --inset-small: var(--padding-small);
  --inset-big: var(--padding-big);
  --gap-small: 10px;
  --gap-big: 20px;
  --margin-small: 10px;
  --margin-big: 20px;

  --point-size: 9px;
  --corner-size: 25px;
}

@media (width >= 768px) {
  :root {
    --decorative-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
